[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
yapf = "*"
pytest-cov = "*"
ipython = "*"
pytest-django = "*"

[packages]
django = "*"
djangorestframework = "*"
django-rest-auth = "*"

[requires]
python_version = "3.7"

[scripts]
format = 'yapf -i -r --style google --no-local-style -p -vv .'
